body {
}

.state-name {
    font: 16px Arial, sans-serif
}

.population-box {
	position:relative;
    padding: 15px 35px;    
    top:50px;
	text-align:center;
	font:22px Arial, sans-serif;
	color:#fff;
	background:#0822E8;
    animation: movein 0.5s; 
    animation-iteration-count: 1;
}


/* creates the beak */
.population-box:before {
	content:"";
	position:absolute;
	top:-50px;
    left:0;
	border-width:75px 0px 0px 25px;
    border-style:solid;
	border-color:transparent #0822E8;
}

@keyframes zoomin { 
0%   { transform: scale(0.8, 0.8); } 
100%  { transform: scale(1, 1); } 
}

@keyframes movein { 
0%   { transform:  translate(10px, 10px);    } 
100%  { transform:  translate(0px, 0px);   } 
}


@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
